* {
	box-sizing: border-box;
}

body { 
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
}
* {
	box-sizing: border-box;
}

.bg-img {
	background-image: url("ado2.jpg");
	min-height: 1000px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	background-attachment: fixed;
}

.one{
	background-color:white;
	min-height:100px;
	background-attachment:fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	margin-bottom:50px;
}
.two{
	background-image: url('red5.jpg');
	min-height:200px;
	background-attachment:fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: static;
}
.three{
	background-image: url('ado9.jpg');
	min-height:1200px;
	background-attachment:fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}
.four{
	background-image: url('ado1.jpg');
	min-height:635px;
	background-attachment:fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}
.five{
	background-image: url('ado3.jpg');
	min-height:635px;
	background-attachment:fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}
.seven{
	background-image: url('ado3.jpg');
	min-height:800px;
	background-attachment:fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}
.eight{
	background-image: url('ado4.jpg');
	min-height:635px;
	background-attachment:fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}
.six{
	background-image: url('ado5.jpg');
	min-height:635px;
	background-attachment:fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}
.nine{
	background-image: url('gira.jpg');
	min-height:635px;
	background-attachment:fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}
.ten{
	background-image: url('uta1.png');
	min-height:1000px;
	background-attachment:fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}
.eleven{
	background-image: url('ado5.jpg');
	min-height:635px;
	background-attachment:fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}
.bgg{
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
}
@media (min-aspect-ratio: 16/9){
  .bgg{
    width: 100%;
    height: auto;
  }
}
@media (max-aspect-ratio: 16/9){
  .bgg{
    width: auto;
    height: 100%;
  }
}

.footer{
	background-image: url('red.jpg');
	min-height:50px;
	background-attachment:fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.header {
  overflow: hidden;
  margin-left:20px;
  margin-right:20px;
}

.header a {
	margin-top:20px;
	float: left;
	color: white;
	text-align: center;
	padding: 12px;
	text-decoration: none;
	font-size: 18px; 
	line-height: 25px;
	border-radius: 4px;
	text-shadow: 2px 2px 5px black;
}

.header a.logo {
  font-size: 40px;
  font-weight: bold;
  font-family:Papyrus;
  margin-bottom:5px;
}

.header a:hover {
  color: #F0e130;
}

.header a.active {
  background-color: #F0e130;
  color: white;
}

.header-right {
  float: right;
  	right:0;
	top:0;
	
	margin-right:10px;
	position:fixed;
  
}

@media screen and (max-width: 600px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  
  .header-right {
    float: none;
  }
  
      .polaroid {
        width: 96%;
        margin: 2% auto;
    }
}

.motto{
	margin-top:350px;
	text-align:center;
	font-size:85px;
	color:white;
	font-weight:bold;
	cursor: context-menu;
	text-shadow: 2px 2px 5px black;
}
.desc{
	text-align:center;
	font-size: 17px;
	color:white;
	cursor: context-menu;
}
.about{
	margin-top: 30px;
	text-align:center;
	font-size:40px;
	color:#843c54;
	font-weight:900;
	cursor: context-menu;
	text-shadow: 2px 2px 5px light gray;
}
.abdes{
	text-align:justify;
	text-justify:inter-word;
	font-size: 17px;
	color:#843c54;
	margin-left:150px;
	margin-right:150px;
	line-height:1.8;
	cursor: context-menu;
	text-indent:50px;
	opacity:0.5;
}
.portfolio{
	text-align:center;
	font-size:40px;
	color:white;
	font-weight:900;
	cursor: context-menu;
	text-shadow: 2px 2px 5px black;
}
.port{
	text-align:center;
	font-size: 17px;
	color:white;
	margin-left:150px;
	margin-right:150px;
	cursor: context-menu;
	margin-top:0;
}
.serve{
	text-align:center;
	font-size:40px;
	color:white;
	font-weight:900;
	cursor: pointer;
	text-shadow: 2px 2px 5px black;
}
.menudown{
	margin-left:50px;
	font-size:25px;
	color:white;
	font-weight:900;
	cursor: context-menu;
	text-shadow: 2px 2px 5px black;
}
br {
  display: block;
  margin-bottom: 2px;
  font-size:2px;
  line-height: 2px;
}
.column {
	float: left;
	width: 25%;
	margin:0px; 
}
.row::after {
  content: "";
  clear: both;
  display: table;
}
img{
	margin-top:0px;
	padding:0px;
	width:100%;
	max-width: 100%;
	height: auto;
	position:static;
}
.hrab{
	border-top:1px solid #843c54;
	margin-left:625px;
	margin-right:625px;
}
.tos{
	border-top:1px solid #843c54;
	margin-left:600px;
	margin-right:600px;
}
.term{
	text-align:center;
	font-size: 17px;
	color:#843c54;
	margin-left:150px;
	margin-right:150px;
	line-height:1.8;
	cursor: context-menu;
	text-indent:50px;
}
.service{
	margin-left:60px;
	font-size:20px;
	color:#843c54;
	font-weight:bold;
	cursor: context-menu;
}
.review{
	margin-left:60px;
	font-size:15px;
	color:#843c54;
	font-weight:bold;
	cursor: context-menu;
}
.serv{
	font-size:20px;
	color:#843c54;
	font-weight:bold;
	cursor: context-menu;
	text-align:center;
}
.ices{
	text-align:justify;
	font-size: 17px;
	color:#843c54;
	margin-left:100px;
	cursor: context-menu;
	text-indent:50px;
	opacity:0.5;
}
.prices{
	margin-left:50px;
	font-size: 17px;
	color:#843c54;
	cursor: context-menu;
}
table, td, th {
	border: 1px solid #843c54;
	text-align:center;
	color:#843c54;
}
table {
	width: 100%;
	border-collapse: collapse;
}
#glass {
	position: absolute;
	left:20%;
	top:1%;
	right:20%;
	bottom: 1%;
	padding: 0px 20px 10px 10px;
	background: rgba(255, 255, 255, 0.9);
	font-family: Droid Sans, Arial, Helvetica, Sans-serif;
	font-size: 12px;
	border-radius: 25px;
	margin-top:100px;
	margin-bottom:30px;
}
.container {
  position:relative;
}

.image {
	display: block;
	height: auto;
  	margin-top:0px;
	padding:0px;
	max-width: 100%;
}

.overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: #e1ad01;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}

.container:hover .overlay {
  bottom: 0;
  height: 100%;
}

.text {
  white-space: nowrap; 
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.polaroid {
	margin-top:10px;
	background-color: white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin-bottom: 25px;
	transition: transform .2s;
    height: auto;
    width: 29.3%;
    background-color: white;
    box-shadow: 2px 4px 8px 3px Gainsboro;
    margin: 2%;
    float: left;
}

.box {
	text-align: center;
	padding: 5px 10px;
}
.polaroid:hover {
	-ms-transform: scale(1.5); /* IE 9 */
	-webkit-transform: scale(1.5); /* Safari 3-8 */
	transform: scale(1.5); 
}
label{
	margin-left:10px;
}
textarea {
	margin-left:50px;
	margin-right:50px;
  width: 90%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #843c54;
  border-radius: 4px;
  resize: none;
	
}

input[type=text], select {
	margin-left:10px;
  width: 20%; 
  padding: 12px 20px;
  border: 1px solid #843c54;
  border-radius: 4px;
  box-sizing: border-box;
}

.submit {
	color: white;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin-right:50px;
	float:right;
	width:10%;
	background-color: #e1ad01;
	padding: 14px 20px;
	border-radius: 4px;
	cursor: pointer;
	font-weight:bold;
}
.leftainer {
  position: relative;
}

.leftlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #e1ad01;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .5s ease;
}

.leftainer:hover .leftlay {
  width: 100%;
}
.col{
	float: left;
	width: 50%;
	margin:0px; 
}
.arrow {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
 
}
.right {
	 margin-right:10px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
.down {
	margin-left:70px;
	margin-right:70px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.menulist{
	list-style-type:none;
	line-height:200%;
}
.nav1{
	text-decoration:none;
	color:white;
	font-size:12pt;
	font-weight:bold;
}
.nav2{
	text-decoration:none;
	color:white;
	font-size:12pt;
	font-weight:bold;
}
.nav3{
	text-decoration:none;
	color:white;
	font-size:12pt;
	font-weight:bold;
}
.nav4{
	text-decoration:none;
	color:white;
	font-size:12pt;
	font-weight:bold;
}
.nav5{
	text-decoration:none;
	color:white;
	font-size:12pt;
	font-weight:bold;
}
.arrow:hover{
	color:#e1ad01;
}
.nav1:hover{
	color:#e1ad01;
}
.nav2:hover{
	color:#e1ad01;
}
.nav3:hover{
	color:#e1ad01;
}
.nav4:hover{
	color:#e1ad01;
}
.nav5:hover{
	color:#e1ad01;
}
.forgot{
	text-align:center;
	text-decoration:none;
}
.forgot:hover{
	text-decoration:underline;
}
.login{
	text-align:center;
	font-size:15px;
	color:#843c54;
	font-weight:bold;
	cursor: context-menu;
}
.signup{
	text-align:left;
	font-size:15px;
	color:#843c54;
	font-weight:bold;
	cursor: context-menu;
}
.logging {
	color: white;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	width:20%;
	background-color: #e1ad01;
	padding: 14px 20px;
	border-radius: 4px;
	cursor: pointer;
	font-weight:bold;
}
.return {
	margin:0px;
	color: white;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	width:20%;
	background-color: #e1ad01;
	padding: 14px 20px;
	border-radius: 4px;
	cursor: pointer;
	font-weight:bold;
}
.error{
	margin-top:200px;
	text-align:center;
	font-size:85px;
	color:white;
	font-weight:bold;
	cursor: context-menu;
	text-shadow: 2px 2px 5px black;
}
.novel{
	margin-top:50px;
	margin-left:50px;
	margin-right:50px;
	max-width: 100%;
	height: auto;
	width: auto;
	margin-bottom:50px;
}
.write{
	text-align:center;
	font-size: 17px;
	color:#843c54;
	margin-left:150px;
	margin-right:150px;
	line-height:1.8;
	cursor: context-menu;
	text-indent:50px;
}