
body {font-family: Verdana, sans-serif;}
.mySlides {display: none;}
img {
	vertical-align: middle;
	width:100%;
	display: flex;
justify-content: center;
	opacity:0.7;
}

/* Slideshow container */
.slideshow-container {
	margin-top:30px;
	max-width: 1000px;
	position: relative;
	margin-left:auto;
	margin-right:auto;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}
.nine{
	background-image: url('gira.jpg');
	min-height:1000px;
	background-attachment:fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}
#glass {
	position: absolute;
	left:20%;
	top:1%;
	right:20%;
	bottom: 1%;
	padding: 0px 20px 10px 10px;
	background: rgba(255, 255, 255, 0.9);
	font-family: Droid Sans, Arial, Helvetica, Sans-serif;
	font-size: 12px;
	border-radius: 25px;
	margin-top:100px;
	margin-bottom:30px;
}
.about{
	margin-top: 30px;
	text-align:center;
	font-size:40px;
	color:#843c54;
	font-weight:900;
	cursor: context-menu;
	text-shadow: 2px 2px 5px light gray;
}
.motto{
	text-align:center;
	font-size:35px;
	color:white;
	font-weight:bold;
	cursor: context-menu;
	text-shadow: 5px 5px 5px black;
}
.service{
	margin-left:60px;
	font-size:20px;
	color:#843c54;
	font-weight:bold;
	cursor: context-menu;
}
.prices{
	margin-left:50px;
	font-size: 17px;
	color:#843c54;
	cursor: context-menu;
}
.port{
	text-align:center;
	font-size: 17px;
	color:#843c54;
	margin-left:150px;
	margin-right:150px;
	cursor: context-menu;
	margin-top:0;
}
hr{
	margin-bottom:20px;
}
.button {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	display:block;
    float: left;
	border-radius:50px;
	background-color:#843c54;
	margin:20px;
}

a, .dropbtn {
	display: inline-block;
	color: white;
	text-align: center;
	padding: 20px;
	text-decoration: none;
    font-size:15px;
	padding-left:70px;
	padding-right:70px;
}

a:hover, .dropdown:hover .dropbtn {
  background-color: red;
  border-radius:50px;
}

.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
	background-color: #e1ad01;
}

.dropdown:hover .dropdown-content {
  display: block;
  border-radius:30px;
}