

.header {
  overflow: hidden;
  margin-left:20px;
  margin-right:20px;
}

.eleven{
  background-image: url('ado5.jpg');
  min-height:635px;
  background-attachment:fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}